.banner {background: #20366a;margin-top: 10px;padding: 20px;}
.main-banner {padding:0px 0px;}
.main-banner img {width: 100%;height: 285px;}
.banner-left .new-sec {text-align: left;padding: 15px;color: #20366a;}
.banner-left .new-sec h2 {margin: 0px;}
.banner-left .new-sec ul {padding-left: 0px;}
.banner-left .new-sec ul li {list-style: none;border-bottom: dotted 1px #20366a; padding: 10px 0px;}
.banner-left .new-sec ul li:last-child {border-bottom: 0px;}
.banner-left .new-sec ul li svg {display: inline-block;font-size: 12px;line-height: 20px;}
.banner-left .new-sec ul li a {text-decoration: none;color: #20366a;}
.subscribe-btn {display: inline-block;width: 100%;}
.subscribe-btn a {display: inline-block;width: 100%;}
.subscribe-btn a,.blue-btn {background: #20366a;color: #fff;border: 1px solid #20366a;transition: all 1s ease 0s;padding: 10px 15px;display: inline-block;width: auto;}
.subscribe-btn a:hover,.blue-btn:hover {background: #fff;color: #20366a;}

.quick-link {display: inline-block;width: 100%;padding: 50px 0px;}
.shadow-remove {box-shadow: none !important;}
.comman-title {text-align: left;color: #20366a;margin: 0px;font-size: 24px;line-height: 40px;}
.btn-area {text-align: right;}
.btn-area .blue-btn { margin-left: 20px;}

