@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');
body {font-family: 'Montserrat', sans-serif;}
.banner {background: #f7fafd;padding: 50px 0px;}
.main-banner {padding:0px 0px;}
.banner .shadow-remove {background: none;padding: 0px;}
@keyframes up-down {
    0% {transform: translateY(10px);}
    100% {transform: translateY(-10px);}
}
@keyframes rotateme {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(1turn);}
}
img.cercle-img {animation-name: rotateme;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;width: auto; height: 100%;position: absolute;left: 0px;top: 0px;}
img.img-anim {width: 90%;animation: up-down 2s ease-in-out infinite alternate-reverse both;}
.banner-left .new-sec {text-align: left;padding: 15px;color: #0e314c;}
.banner-left .new-sec h2 {margin: 0px;}
.banner-left .new-sec ul {padding-left: 0px;}
.banner-left .new-sec ul li {list-style: none;border-bottom: dotted 1px #0e314c; padding: 10px 0px;}
.banner-left .new-sec ul.latest-new li {display: none;}
.banner-left .new-sec ul.latest-new li:nth-child(1), .banner-left .new-sec ul.latest-new li:nth-child(2), .banner-left .new-sec ul.latest-new li:nth-child(3), .banner-left .new-sec ul li:nth-child(4) {display: block;}
.banner-left .new-sec ul.latest-new li:nth-child(4) {border-bottom: 0px;}
.banner-left .new-sec ul li:last-child {border-bottom: 0px;}
.banner-left .new-sec ul li svg {display: inline-block;font-size: 12px;line-height: 20px;}
.banner-left .new-sec ul li a {text-decoration: none;color: #0e314c;}
.banner-left .new-sec ul li a svg {float: right;font-size: 20px;color: #528fcb;}
.subscribe-btn {display: inline-block;width: 100%;}
.subscribe-btn a {display: inline-block;width: 100%;}
.subscribe-btn a,.blue-btn,.green-btn {background: #528fcb;color: #fff;border: 1px solid #528fcb;transition: all 1s ease 0s;padding: 10px 15px;display: inline-block;width: auto;}
.subscribe-btn a:hover,.blue-btn:hover {background: #fff;color: #528fcb;}
.green-btn {border-color: #528fcb; background: #528fcb; margin-left: 20px;}
.green-btn:hover {color: #528fcb; background: #fff;}
.banner-left .new-sec .data-table tbody tr td{display: none;font-size: 13px;line-height: 18px;}
.banner-left .new-sec .data-table tr th {font-size: 13px;line-height: 20px;}
.banner-left .new-sec .data-table tbody tr:nth-child(1) td,
.banner-left .new-sec .data-table tbody tr:nth-child(2) td,
.banner-left .new-sec .data-table tbody tr:nth-child(3) td{display: table-cell;}
.banner-left .table-row {margin: 20px 0px 0px;} 
a.more-cont {padding: 10px 16px; display: inline-block; width: 100%;  box-sizing: border-box;text-decoration: underline;
    font-weight: bold;color: #528fcb;}

.quick-link {display: inline-block;width: 100%;padding: 50px 0px;}
.shadow-remove {box-shadow: none !important;}
.remove-bg {background: none !important;}
.comman-title {text-align: left;color: #0e314c;margin: 0px;font-size: 24px;line-height: 40px;}
.quick-link .comman-title {color: #528fcb;}
.btn-area {text-align: right;}
.btn-area .blue-btn { margin-left: 20px;}
.boxse {display: inline-block;width: 100%;}
.boxse ul {padding: 0px;margin: 0px;display: flex;flex-wrap: wrap;}
.boxse ul li {width: 25%;float: left;position: relative;list-style: none;}
.box-outer {display: table;width: 100%;height: 140px;transition: all 0.6s ease-in-out;
    -webkit-transition: all 0.6s ease-in-out;padding: 10px 0px;box-sizing: border-box;border-bottom: 1px solid #ccc;}
.box-outer a{display: table; width: 100%;height: 140px;transition: all 0.6s ease-in-out;-webkit-transition: all 0.6s ease-in-out; text-transform: uppercase;color: #000000; border-right: 1px solid #ccc;}
.boxse ul li:nth-child(4n+0) a {border-right: 0px;}
.boxse ul li:nth-child(7) .box-outer,.boxse ul li:nth-child(8) .box-outer {border-bottom: 0px;}
.icon-color-b {border-radius: 100%;background: #528fcb;width: 70px;height: 70px;margin: 0 auto;line-height: 70px;}
.box-outer a img {width: 70px;height: 70px;padding: 10px;border-radius: 100%;box-sizing: border-box;}
.box-outer a .box-inr { display: table-cell; vertical-align: middle; text-align: center;}
.section-box ul li span {display: table;margin: 0 auto;transition: all 0.6s ease-in-out;-webkit-transition: all 0.6s ease-in-out;position: relative;font-size: 12px;
    font-weight: 600;margin-top: 10px;}
.box-outer a:hover, .box-outer a:focus {background: #528fcb;text-decoration: none;color: #fff;}
.button_st a.green-btn {display: inline-block;width: 100%;margin: 30px 0px 0px;font-weight: 600;text-align: left;line-height: 30px;box-sizing: border-box;}

.about-sec {padding: 50px 0px;}
.ab-img {position: relative;}
.ab-img img {width: 100%;}
.about.css-mhc70k-MuiGrid-root {padding: 5px 0px 20px;border-radius: 4px;}
.about-text .text-box {padding: 20px;text-align: left;}
.about-text .text-box h3 {color: #0e314c;margin: 0px;font-size: 24px;line-height: 40px;}
.about-text .text-box p {color: #0e314c;font-size: 18px;line-height: 180%;} 
.padding-50 {padding: 50px 0px;}
.mb-30 {margin-bottom: 30px;}
.services-sec .service-item {padding: 20px;border: 1px solid #f1f1f1;color: #0e314c;box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);height: 100%; box-sizing: border-box;transition: all 1s ease 0s;}
.services-sec .service-item:hover {transform: scale(1.1);}
.services-sec .service-item h3 {font-size: 18px; margin-top: 0px;text-align: center;width: 100%;}
.services-sec .service-item p {font-size: 16px;min-height: 100px; text-align: center;}

.highlights-sec .comman-title {color: #528fcb;}
.blue-bg {background: #f7fafd;}
.post-img img {width: 100%;}
.content-box {padding: 20px;background: #fff;color: #0e314c;}
.highlights-sec .service-item h3 {font-size: 18px; margin: 0px;-webkit-line-clamp: 2;display: -webkit-box;-webkit-box-orient: vertical;white-space: normal;min-height: 51px;overflow: hidden;}

.tme-item {box-shadow: none;border-radius: 0px;border: 2px solid #0e314c;position: relative;}
.quate-icon {position: absolute;top: -18px;right: 10px;background: #fff;}
.testmonial-sec .content-box {font-size: 16px;}
p.tm-text {font-style: italic; font-size: 16px; line-height: 28px;text-align: justify;-webkit-line-clamp: 6;
    display: -webkit-box; -webkit-box-orient: vertical; white-space: normal; overflow: hidden; margin-top: 0px;}
.authar-name img {float: left; width: 50px; border-radius: 50%;}
.authar-name {margin-top: 20px;font-size: 14px;text-align: right;}
.authar-name strong {font-size: 18px;font-weight: bold;}
.title-sec {display: flex;justify-content: space-between;}
.np-aero {display: flex;}
.np-aero a{width: 40px;height: 40px;color: #fff; font-size: 30px; margin-left: 15px; border: 1px solid #528fcb; background: #528fcb;cursor: pointer;    display: flex;justify-content: center;align-items: center;}
.np-aero a:hover {color:#528fcb;background: #fff;}
.cont-info {font-size: 20px;color: #0e314c;}
.pt-0 {padding-top: 0px !important;}



@media (min-width:768px){
    .boxse ul li:nth-child(5) .box-outer,.boxse ul li:nth-child(6) .box-outer{border-bottom: 0px;}
}
@media (max-width:767px){
.btn-area {text-align: center;}
.btn-area .green-btn { margin: 0px 0px 10px;width: 100%;box-sizing: border-box;}
.boxse ul li {width: 50%;}
.boxse ul li:nth-child(even) a {border-right: 0px;}
.about.css-mhc70k-MuiGrid-root {background: none;}
}
