 
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap'); 
body {padding: 0px;margin: 0px;box-sizing: border-box;font-family: 'Montserrat', sans-serif !important;}
.css-1633um2-MuiPaper-root {font-family: 'Montserrat', sans-serif !important;}
.p-50 {padding: 50px 0px;}

a {text-decoration: none;}
.header {display: inline-block;width: 100%;}
.bound {max-width: 1240px;margin: 0px auto;width: 100%;}
.topsec {display: flex;justify-content: space-between;padding: 10px 0px;border-bottom: 2px solid #20366a;align-items: baseline;}
.menu {}
.logo {font-weight: bold;}
.logo img {height: 80px;}
.menu ul {margin: 0px; padding: 0px; display: flex;}
.menu ul li {display: flex; position: relative;}
.menu ul li a {text-decoration: none; color: #20366a;padding: 0px 20px;font-weight: 500;line-height: 30px;}
li.nav-item.get-free a {background: #20366a;color: #fff;border: 1px solid #20366a;transition: all 1s ease 0s;padding: 5px 20px;
    margin-top: -10px;
    border-radius: 10px;}
li.nav-item.get-free a:hover {background: #fff;color: #20366a;}
.menu ul li > ul li {width: 100%;}
.menu ul li > ul li a {padding: 10px 0px;font-size: 14px;border-bottom: 1px solid #ccc; width: 100%;display: inline-block;}
.menu ul li > ul li:last-child a {border-bottom: 0px;}

.menu ul li.parent {position: relative;display: inline-block;}
.menu ul li.parent ul {display: none;position: absolute;background-color: #f1f1f1;min-width: 200px;box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);z-index: 1;padding: 10px 15px;}
.menu ul li.parent:hover ul {display: block;}

/* Inner pages */
.page-title {color: #20366a; font-size: 30px; line-height: 40px;font-weight: 600;    margin-top: 40px;}
.page-content {min-height: 200px;}
.banner img {width: 100%;}
.banner .page-title {color: #fff;    margin-top:0px;}
.contact-form {text-align: center;}
.contact-form .page-title{ margin-bottom: 30px;} 
.contact-form form {max-width: 800px;margin: 0px auto;}
.submit-row {text-align: center;padding-bottom: 30px;}
.submit-row button {padding: 10px 40px;}
.contact-form .css-11bcn3z .MuiTextField-root:last-child input {height: 100px;}

@media (max-width: 767px) {
    .bound {padding: 0px 15px;box-sizing: border-box;}
    .menu {position: relative;display: inline-block;}
    .menu > .toggle-menu {display: block !important;}
    .menu > ul{display: none;position: absolute;background-color: #f1f1f1;min-width: 200px;box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);z-index: 1; right: 0px;padding: 15px 10px;}
    .menu > .toggle-menu:hover + ul{display: block;}
    .menu ul li {width: 100%;padding: 5px 10px;display: inline-block;}
    .menu ul li a {display: inline-block;width: 100%;}
    .menu ul li > ul li a {padding: 0px 20px;}
}