  
body {padding: 0px;margin: 0px;}
.header {display: inline-block;width: 100%;}
.bound {max-width: 1200px;margin: 0px auto;}
.topsec {display: flex;justify-content: space-between;padding: 20px 0px;border-bottom: 2px solid #454545;}
.menu {}
.logo {font-weight: bold;}
.menu ul {margin: 0px; padding: 0px; display: flex;}
.menu ul li {display: flex; position: relative;}
.menu ul li a {text-decoration: none; color: #454545;padding: 0px 20px;}
.menu ul li:last-child a {padding-right: 0px;} 
.menu ul li > ul li {width: 100%;}
.menu ul li > ul li a {padding: 10px 20px;}
.main-banner {padding: 20px 0px;}
.main-banner img {width: 100%;}

.menu ul li.parent {position: relative;display: inline-block;}
.menu ul li.parent ul {display: none;position: absolute;background-color: #f1f1f1;min-width: 200px;box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);z-index: 1;}
.menu ul li.parent:hover ul {display: block;}