.footer {border-top: 1px solid #ccc;}
.footer .info-box {text-align: left;}
.f-logo {margin-bottom: 10px;}
.f-logo img {width: 150px;}
.fab-content {font-weight: 500;color: #20366a;}
.footer ul.c-ingo {padding: 0px;margin: 0px;}
.footer ul.c-ingo li {list-style: none;font-size: 16px;font-weight: 500; color: #20366a;line-height: 40px;display: flex;align-items: center;}
.footer ul.c-ingo li svg {margin-right: 10px;}
.social-icon {display: flex;border-top: 1px solid;width: 100%;padding-top: 10px;margin-top: 10px;color: #20366a;font-weight: 500;}
.social-icon a {color: #20366a; margin-left: 20px;}

.copyright {background: #616161;}
.remove-bg {background: none !important;}
.copyright p {color: #fff;}